.bg{
    background: url('../../assets/img/image1.jpg');
    height: -webkit-fill-available;
    background-size: cover;
}

.span-bg-l{
    font-size: 5em;
    background: transparent;
    color: white;
}

.bg-l{
    @extend .span-bg-l;
        font-size: 4em;   
}